go 1.25.0

use (
	./packages/go-common
	./services/api-gateway
	./services/identity-svc
	./services/workspace-svc
	./tests/integration
	./services/conversation-svc
	./adapters/matrix-mautrix
	./adapters/fake
	./services/notification-svc
)
